DB_HOST = "database-2.bdrgurdfo5mra.us-east-1.rds.amazonaws.com";
DB_USER = "";
DB_PASS = "";
DB_NAME = "";
DB_PORT = ;


# DB_HOST = "localhost";
# DB_USER = "";
# DB_PASS = "";
# DB_NAME = "";
# DB_PORT = ;

; email - @gmail.com password = 
; university id hod = 
; password = @123git ls-files | Select-String ".env"



MAIL_HOST=smtp.gmail.com
MAIL_USERNAME=@gmail.com
MAIL_PASSWORD=
MAIL_PORT=587
MAIL_ENCRYPTION=tls

OPENROUTER_API_KEY=sk-or...e1

